@charset "UTF-8";
@font-face{
	font-family:Cacha;
	src:url('../font/Cacha.ttf') format("TrueType");
}
body{
    background:#ccc;
}
div#container{
	width:400px;
	height:300px;
	position:absolute;
	top:50%;
	left:50%;
	margin: -165px 0 0 -225px;
	border: 30px solid #FFc;
	border-radius:20px;
}

#container a{
                position: absolute;
            }

div#memo{
	position: absolute;
	width:398px;
	height:55px;
	top:20%;
	left:50%;
	margin:-27.5px 0 0 -199px;
	font-family: Cacha;
	font-size:50px;
	color:#4d4d4d;
}